/* styles.css */

/* Reset для стандартных отступов и полей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #6c757d;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul.nav-left {
    display: flex;
}

nav ul.nav-right {
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #5a6268;
}

.container {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.error-messages {
    color: red;
    list-style-type: none;
    padding: 0;
}

.exercise {
    margin-bottom: 10px;
}

/* Стили для истории тренировок */
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.history-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.date-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.history-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
}

.history-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #007bff; /* Цвет заголовка шаблона */
}

.history-item h3:hover {
    color: #0056b3;
}

.history-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history-item li {
    margin-bottom: 10px;
    color: #666;
    display: flex;
    justify-content: space-between;
}

.exercise-name {
    font-weight: bold;
    color: #333;
}

.exercise-sets {
    color: #999;
}
