

{% block content %}
  <div class="container">
    <h1>Упражнения для тренировки</h1>
    <h2>Плечи</h2>
    <ul>
      <li>Жим штанги стоя</li>
      <li>Армейский жим</li>
      <li>Махи гантелями</li>
    </ul>
    <h2>Грудь</h2>
    <ul>
      <li>Жим штанги лежа</li>
      <li>Жим гантелей на наклонной скамье</li>
      <li>Отжимания</li>
    </ul>
    <h2>Бицепс</h2>
    <ul>
      <li>Подтягивания</li>
      <li>Молотки гантелей</li>
      <li>Сгибания рук со штангой</li>
    </ul>
    <h2>Трицепс</h2>
    <ul>
      <li>Жим гантелей лежа</li>
      <li>Тяга штанги за голову</li>
      <li>Разгибания рук на блоке</li>
    </ul>
  </div>
{% endblock %}
{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Это типа footer, можно будет его удалить</p>
        </div>
    </footer>   
{% endblock footer %}