{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Статистика и прогресс</h1>
    <div class="exercise">
        <p class="exercise-name">Жим штанги лежа</p>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
    </div>
    <div class="exercise">
        <p class="exercise-name">Приседания со штангой</p>
        <div class="progress">
            <div class="progress-bar" style="width: 80%;"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Это типа footer, можно будет его удалить</p>
        </div>
    </footer>   
{% endblock footer %}